
*.user
*.orig
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
!node.exe
!ILMerge.exe
!NuGet.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
*.ReSharper
*.docstates
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.fbl6
*.fbpInf
*.fbl6
*.fbpInf
*.fb6lck
*ServiceDefinition.build.csdef
*.ncrunchsolution
*.ncrunchproject
*.testsettings
DeploymentWorking/
Flow.suo
Web/Web/bin/*
*/bin/*
ConsoleApplication1/bin/*
ConsoleApplication1/bin/*
ConsoleApplication1/bin/Debug/Flow.Console.exe
ConsoleApplication1/bin/Debug/Flow.Console.exe
ConsoleApplication1/bin/Debug/Flow.Console.pdb
ConsoleApplication1/bin/Debug/Flow.Library.dll
ConsoleApplication1/bin/Debug/Flow.Library.pdb
ConsoleApplication1/obj/x86/Debug/Flow.Console.exe
ConsoleApplication1/obj/x86/Debug/Flow.Console.pdb
ConsoleApplication1/obj/x86/Debug/Flow.csprojResolveAssemblyReference.cache
Flow.Library/bin/Debug/Flow.Library.dll
Flow.Library/bin/Debug/Flow.Library.pdb
ConsoleApplication1/bin/Debug/Flow.Console.exe
ConsoleApplication1/bin/Debug/Flow.Console.pdb
ConsoleApplication1/bin/Debug/Flow.Library.dll
ConsoleApplication1/bin/Debug/Flow.Library.pdb
ConsoleApplication1/obj/x86/Debug/Flow.Console.exe
ConsoleApplication1/obj/x86/Debug/Flow.Console.pdb
ConsoleApplication1/obj/x86/Debug/Flow.csprojResolveAssemblyReference.cache
Flow.Library/bin/Debug/Flow.Library.dll
Flow.Library/bin/Debug/Flow.Library.pdb
ConsoleApplication1/bin/Debug/Flow.Console.exe
ConsoleApplication1/bin/Debug/Flow.Console.pdb
ConsoleApplication1/bin/Debug/Flow.Library.dll
ConsoleApplication1/bin/Debug/Flow.Library.pdb
ConsoleApplication1/obj/x86/Debug/Flow.Console.exe
ConsoleApplication1/obj/x86/Debug/Flow.Console.pdb
ConsoleApplication1/obj/x86/Debug/Flow.csprojResolveAssemblyReference.cache
*/bin/Debug/*
ConsoleApplication1/obj/x86/Debug/Flow.Console.exe
ConsoleApplication1/obj/x86/Debug/Flow.Console.pdb
ConsoleApplication1/obj/x86/Debug/Flow.csprojResolveAssemblyReference.cache
