
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAction</title>
</head>
<body>
    <div>
        <h1>No Action</h1>
        <p>This flow has completed and did not specify a final action to take.</p>
        <p>@Html.ActionLink("Return to Flow List", "Index", "Flow")</p>
    </div>
</body>
</html>